<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFlightService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50436/FlightService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightService"
          contract="IFlightService" name="BasicHttpBinding_IFlightService" />
    </client>
  </system.serviceModel>
  
</configuration>